/* General Styles */
body {
  font-family: "Roboto", sans-serif;
  background-color: #edf2f4;
  color: #2b2d42; /* Keeping the text color consistent */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header */
.header {
  height: 100px;
  background-color: #3a5a40;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 1000;
}
.left-section {
  display: flex;
  align-items: center;
}

.left-section img {
  margin-left: -10px;
}

.middle-section {
  display: flex;
  align-items: center;
  font-size: 25px;
}

.extra {
  display: flex;
}

.extra div {
  margin-right: 30px;
  margin-left: 0;
  cursor: pointer;
}

.middle-section div a {
  font-family: "Bebas Neue", sans-serif;
  color: white;
  text-decoration: none;
  margin-left: 10px;
}

.left-section a {
  font-family: "Bebas Neue", sans-serif;
  color: white;
  text-decoration: none;
  font-size: 40px;
}

.right-section .profile-btn img {
  height: 40px;
  cursor: pointer;
}

.profile-btn-admin {
  background-color: transparent;
  margin-right: 40px;
}

.profile-btn-admin:hover {
  background-color: transparent;
  margin-right: 40px;
}

/* Main Content */
.main {
  margin-top: 100px;
  padding: 20px;
  flex: 1;
  width: 100%;
  background-color: #edf2f4;
}

#user_id {
  margin-bottom: 50px;
  max-width: 1300px;
  margin-left: 20px;
  height: 50px;
}

#select-user {
  margin-left: 20px;
}

.welcome-message {
  text-align: center;
  font-size: 0.75rem;
  color: #3a5a40;
  margin: auto;
  border-style: solid;
  padding: 10px 0;
  border-radius: 10px;
  border-color: #3a5a40;
  background-color: #e9ebee;
  transition: background-color 0.15s ease-in, color 0.15s ease-in;
  width: 50vh;
  box-sizing: border-box;
  transition: background-color 0.25s ease-in, color 0.25s ease-in;
}

.welcome-message:hover {
  background-color: #3a5a40;
  color: whitesmoke;
}

/* Table Styles */

.table-forms {
  margin-top: 100px;
  margin: auto;
  width: 100%;
  max-width: 1350px;
  background-color: white;
  margin-top: 50px;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  margin-bottom: 60px;
}

.table-form:hover {
  transform: scale(1.02);
}

.table-forms h1 {
  text-align: center;
  color: #3a5a40;
}

table {
  width: 100%;
  max-width: 1300px;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #ffffff;
  color: #2b2d42;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: auto;
  margin-bottom: 30px;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #3a5a40;
  color: white;
}

tr:hover {
  background-color: #f1f1f1;
}

table button {
  width: 100%;
  max-width: 200px;
  margin-bottom: 10px;
  font-size: 20px;
  margin-right: -30px;
}

#approve {
  background-color: #588157;
}

/*Pagination*/
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination a {
  margin: 0 5px;
  padding: 8px 12px;
  text-decoration: none;
  color: #2b2d42;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.pagination a.active {
  background-color: #3a5a40;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #f1f1f1;
}

/* Form Styles */
form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="time"],
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  background-color: #ef233c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Bebas Neue", sans-serif;
}

button:hover {
  background-color: #d90429;
}

.form-request {
  margin-top: 100px;
  margin-left: 9%;
  width: 100%;
  max-width: 1350px;
  background-color: white;
  margin-top: 50px;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.form-request:hover {
  transform: scale(1.02);
}

.form-request h1 {
  text-align: center;
  color: #3a5a40;
}

/* Profile Section */
#profile-section {
  display: none;
  padding: 20px;
  background-color: #f8f9fa;
  color: #2b2d42;
  width: 100%;
  max-width: 500px;
  margin: auto;
  border-radius: 10px;
}

.profile-header img {
  height: 80px;
  margin-bottom: 10px;
  margin-left: 44%;
  margin-bottom: 0;
}

#admin-name {
  margin-left: 45%;
  margin-top: 0;
}

.profile-header p {
  margin-left: 39%;
  margin-top: -15px;
}

.profile-header button {
  margin-left: 48%;
  margin-top: -15px;
  padding: 5px 10px;
  font-size: 14px;
  background-color: #588157;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: arial;
}

.profile-header button:hover {
  background-color: #3a5a40;
}

.profile-details p {
  margin: 5px 0;
}

#back-to-homepage {
  margin-top: -15px;
  padding: 10px 10px;
  font-size: 14px;
  background-color: #588157;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: arial;
}

#back-to-homepage:hover {
  background-color: #3a5a40;
}

#logout-admin {
  margin-top: -15px;
  padding: 10px 10px;
  font-size: 14px;
  background-color: #d9534f;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: arial;
}

#logout-admin:hover {
  background-color: #c9302c;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .services {
    grid-template-columns: 1fr;
  }

  .pricing-cards {
    flex-direction: column;
  }
}

@media (max-width: 1269px) {
  .mobile {
    display: none;
  }
}
