body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  height: 100px;
  background-color: #3b5998;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 1000;
}

.left-section,
.middle-section,
.right-section {
  display: flex;
  align-items: center;
}

.middle-section {
  font-size: 25px;
}

.left-section a,
.middle-section div a {
  font-family: "Bebas Neue", sans-serif;
  color: white;
  text-decoration: none;
  margin-left: 10px;
}

.left-section {
  font-size: 40px;
  margin-left: -10px;
}

.right-section button {
  height: 50px;
  width: 50px;
  font-size: 25px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
  margin-right: 70px;
  margin-bottom: 10px;
}

.extra {
  display: flex;
}

.extra div {
  margin-right: 30px;
  cursor: pointer;
}

.profile-btn img {
  display: block;
  margin: auto;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  flex: 1;
  margin-top: 70px;
}

.welcome-message {
  text-align: center;
  font-size: 0.75rem;
  color: #3b5998;
  margin-top: 20px;
  border-style: solid;
  padding: 10px 0;
  border-radius: 10px;
  border-color: #3b5998;
  background-color: #e9ebee;
  transition: background-color 0.25s ease-in, color 0.25s ease-in;
  width: 50vh;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.welcome-message:hover {
  background-color: #3b5998;
  color: #e9ebee;
}

.success-error-messages,
.forms,
.request-history {
  margin-bottom: 40px;
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin: auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button {
  padding: 10px 15px;
  border: none;
  margin-top: 10px;
  border-radius: 4px;
  background-color: #8b9dc3;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #3b5998;
}

#profile-section,
#edit-profile-form {
  width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #e9ebee;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 140px;
}

#user-btn {
  height: 40px;
  margin-top: 20px;
}

textarea {
  height: 100px;
  width: 100%;
  resize: vertical;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#profile-section {
  display: none;
  padding: 20px;
  background-color: #ffffff;
  color: #2b2d42;
  width: 100%;
  max-width: 600px;
  margin: auto;
  margin-top: 120px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.profile-header {
  text-align: center;
  margin-bottom: 20px;
}

.profile-header img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #3b5998;
}

#user-name {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
}

.profile-header p {
  font-size: 16px;
  color: #666;
}

.profile-header button {
  padding: 5px 10px;
  font-size: 14px;
  background-color: #3b5998;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.profile-header button:hover {
  background-color: #8b9dc3;
}

.profile-details {
  margin: 20px 0;
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.profile-details p {
  margin: 10px 0;
  font-size: 16px;
}

#edit-profile-form {
  display: none;
  padding: 20px;
  background-color: #ffffff;
  color: #2b2d42;
  width: 100%;
  max-width: 600px;
  margin: auto;
  margin-top: 120px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

#edit-profile-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #3b5998;
}

#edit-profile-form input {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

#edit-profile-form button {
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#edit-profile-form .update-button {
  background-color: #3b5998;
  color: white;
}

#edit-profile-form .cancel-button {
  background-color: #d9534f;
  color: white;
}

#edit-profile-form .update-button:hover {
  background-color: #8b9dc3;
}

#edit-profile-form .cancel-button:hover {
  background-color: #c9302c;
}

#back-to-homepage {
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  background-color: #3b5998;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  margin: auto;
}

#back-to-homepage:hover {
  background-color: #8b9dc3;
}

.logout-button {
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  background-color: #d9534f;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.logout-button:hover {
  background-color: #c9302c;
}

.forms {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
  width: 100vh;
  max-width: 1350px;
}

.forms h1 {
  color: #3b5998;
  text-align: center;
  margin-bottom: 20px;
}

.body-form,
.nutritionist-form {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  transition: transform 0.3s;
  margin: auto;
  margin-bottom: 60px;
}

.payment-card {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  margin: 20px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#request-meeting {
  max-width: 400px;
  width: 100%;
  margin-left: 35%;
  background-color: #155724;
}

.nutritionist-fee {
  font-size: 1.2em;
  color: #333;
  margin: 10px 0;
  font-weight: bold;
}

.payment-options {
  margin: 10px 0;
}

.payment-button {
  background-color: #e0e0e0;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px 0;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 200px;
}

.payment-button.active {
  background-color: #007bff;
  color: white;
}

.payment-button:hover {
  background-color: #d0d0d0;
}

.body-form:hover,
.nutritionist-form:hover {
  transform: scale(1.02);
}

.body-form h1,
.nutritionist-form h1 {
  color: #3b5998;
  margin-bottom: 15px;
  text-align: center;
}

.body-form input,
.nutritionist-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s;
  box-sizing: border-box;
}

.body-form input:focus,
.nutritionist-form input:focus {
  border-color: #3b5998;
  outline: none;
}

.body-form button,
.nutritionist-form button {
  width: 100%;
  padding: 12px;
  background-color: #3b5998;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.body-form button:hover,
.nutritionist-form button:hover {
  background-color: #8b9dc3;
}

.success-message {
  color: green;
  background-color: #e6ffe6;
  border: 1px solid green;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  text-align: center;
}

.error-message {
  color: red;
  background-color: #ffe6e6;
  border: 1px solid red;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  text-align: center;
}

.success-message,
.error-message {
  transition: opacity 0.5s ease-in-out;
}

.request-history {
  width: 100%;
  max-width: 1350px;
  margin-bottom: 40px;
  background-color: #ffffff;
  padding: 25px 25px;
  margin: auto;
  border-radius: 10px;
  transition: transform 0.3s;
}

.request-history:hover {
  transform: scale(1.02);
}

.request-history h1 {
  color: #3b5998;
  text-align: center;
}

.request-history table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.request-history th,
.request-history td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.request-history th {
  background-color: #f2f2f2;
  color: #333;
}

.request-history tr:hover {
  background-color: #f1f1f1;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination a {
  margin: 0 5px;
  padding: 8px 12px;
  text-decoration: none;
  color: #2b2d42;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.pagination a.active {
  background-color: #3b5998;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #f1f1f1;
}

.body-data-history {
  width: 100%;
  max-width: 1300px;
  margin-bottom: 40px;
  background-color: #ffffff;
  padding: 25px 25px;
  margin: auto;
  border-radius: 10px;
  transition: transform 0.3s;
  margin-top: 50px;
}

.body-data-history:hover {
  transform: scale(1.02);
}

.body-data-history h1 {
  color: #3b5998;
  text-align: center;
  margin-bottom: 20px;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  position: relative;
}

.alert-success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  text-align: left;
}

th,
td {
  padding: 12px;
  border: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
  color: #333;
  font-weight: bold;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

h2 {
  margin-top: 30px;
  font-size: 24px;
  color: #333;
}

button {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-right: 5px;
}

button.update {
  background-color: #3b5898dc;
  color: white;
  margin: auto;
  width: 100%;
  margin-bottom: 10px;
}

button.update:hover {
  background-color: #3b5998;
}

.delete {
  background-color: #dc3545;
  margin: auto;
  color: white;
  width: 100%;
  margin-bottom: 10px;
}

.delete:hover {
  background-color: #c82333;
}

.search-bar {
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin: 0;
  outline-width: 1px;
  outline-color: #2b2d42;
}

.reset-search {
  height: 40px;
  width: 100%;
  max-width: 100px;
  margin: auto;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #3b5898dc;
}

@media (max-width: 768px) {
  .forms {
    flex-direction: column;
    align-items: center;
  }

  .body-form,
  .nutritionist-form {
    width: 90%;
    margin-bottom: 20px;
  }

  #profile-section,
  #edit-profile-form {
    width: 90%;
  }
}

#body-data-section {
  scroll-margin-top: 100px;
}

#request-nutritionist-section {
  scroll-margin-top: 200px;
}

#request-history-section {
  scroll-margin-top: 300px;
}
