body {
  background-color: #edf2f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-box-admin {
  background-color: #344e41;
  width: 100vh;
  max-width: 600px;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 1, 1, 0.35);
  text-align: center;
}

.admin-txt {
  color: #a3b18a;
  font-size: 38px;
  font-family: "Bebas Neue", sans-serif;
  margin-bottom: 20px;
}

.input-group {
  margin-top: 20px;
}

.input-field {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.input-field:focus {
  border-color: #2b2d42; 
  outline: none;
}

.login-button-admin {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  background-color: #a3b18a;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button-admin:hover {
  background-color: #7a8568; 
}

.back-to-homepage-text {
  margin-top: 20px;
  font-size: 17px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.back-to-homepage-text a {
  color: whitesmoke;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: whitesmoke;
}
